In [1]:
import pandas as pd
import numpy as np

In [2]:
data_train=pd.read_csv("train.csv")

In [3]:
data_train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
data_train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [5]:
data_train.nunique()

User_ID                        5891
Product_ID                     3631
Gender                            2
Age                               7
Occupation                       21
City_Category                     3
Stay_In_Current_City_Years        5
Marital_Status                    2
Product_Category_1               20
Product_Category_2               17
Product_Category_3               15
Purchase                      18105
dtype: int64

In [6]:
data_train.shape

(550068, 12)

In [7]:
data_train.fillna(0,inplace=True)

In [8]:
data_train['Gender']=np.where(data_train['Gender']=='M',1,0)

In [9]:
data_train_age=pd.get_dummies(data_train.Age)

In [10]:
data_train=pd.concat([data_train,data_train_age],axis=1)

In [11]:
cols=["City_Category","Stay_In_Current_City_Years"]
data_train=pd.get_dummies(data_train,columns=cols,prefix=cols)

In [12]:
data_train.head()

,User_ID,Product_ID,Gender,Age,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,...,51-55,55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,1000001,P00069042,0,0-17,10,0,3,0.0,0.0,8370,...,0,0,1,0,0,0,0,1,0,0
1,1000001,P00248942,0,0-17,10,0,1,6.0,14.0,15200,...,0,0,1,0,0,0,0,1,0,0
2,1000001,P00087842,0,0-17,10,0,12,0.0,0.0,1422,...,0,0,1,0,0,0,0,1,0,0
3,1000001,P00085442,0,0-17,10,0,12,14.0,0.0,1057,...,0,0,1,0,0,0,0,1,0,0
4,1000002,P00285442,1,55+,16,0,8,0.0,0.0,7969,...,0,1,0,0,1,0,0,0,0,1

In [13]:
data_train.isnull().sum()

User_ID                          0
Product_ID                       0
Gender                           0
Age                              0
Occupation                       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2               0
Product_Category_3               0
Purchase                         0
0-17                             0
18-25                            0
26-35                            0
36-45                            0
46-50                            0
51-55                            0
55+                              0
City_Category_A                  0
City_Category_B                  0
City_Category_C                  0
Stay_In_Current_City_Years_0     0
Stay_In_Current_City_Years_1     0
Stay_In_Current_City_Years_2     0
Stay_In_Current_City_Years_3     0
Stay_In_Current_City_Years_4+    0
dtype: int64

In [14]:
data_train.drop("Age",axis="columns",inplace=True)

In [15]:
data_train.head()

,User_ID,Product_ID,Gender,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,0-17,...,51-55,55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,1000001,P00069042,0,10,0,3,0.0,0.0,8370,1,...,0,0,1,0,0,0,0,1,0,0
1,1000001,P00248942,0,10,0,1,6.0,14.0,15200,1,...,0,0,1,0,0,0,0,1,0,0
2,1000001,P00087842,0,10,0,12,0.0,0.0,1422,1,...,0,0,1,0,0,0,0,1,0,0
3,1000001,P00085442,0,10,0,12,14.0,0.0,1057,1,...,0,0,1,0,0,0,0,1,0,0
4,1000002,P00285442,1,16,0,8,0.0,0.0,7969,0,...,0,1,0,0,1,0,0,0,0,1

In [16]:
from sklearn.preprocessing import LabelEncoder
la=LabelEncoder()

In [17]:
data_train['Product_ID']=la.fit_transform(data_train['Product_ID'])

In [18]:
X=data_train.drop(['Purchase'],axis=1)
y=data_train['Purchase']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=100)

In [20]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
scaler=sc.fit(X)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [21]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7062430369168466

In [22]:
from sklearn.model_selection import RandomizedSearchCV
n_estimators=[int(x) for x in np.linspace(start=1,stop=200,num=4)]
max_features=['auto','sqrt']
max_depth=[int(x) for x in np.linspace(1,50,num=11)]
max_depth.append(None)
min_samples_split=[2,3,5,10]
min_samples_leaf=[1,2,4]
bootstrap=[True,False]
random_grid={'n_estimators':n_estimators,
             'max_features':max_features,
             'max_depth':max_depth,
             'min_samples_split':min_samples_split,
             'min_samples_leaf':min_samples_leaf,
             'bootstrap':bootstrap}
rf_random=RandomizedSearchCV(estimator=model,param_distributions=random_grid,cv=3)
rf_random.fit(x_train,y_train)

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [1, 5, 10, 15, 20, 25, 30,
                                                      35, 40, 45, 50, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 3, 5, 10],
                                        'n_estimators': [1, 67, 133, 200]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [23]:
model=rf_random.best_estimator_
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.7159952237909406

In [24]:
data_test=pd.read_csv('test.csv')

In [25]:
data_test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [26]:
data_test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [27]:
data_test.fillna(0,inplace=True)

In [30]:
data_test['Gender']=np.where(data_test['Gender']=='M',1,0)

In [31]:
data_test_age=pd.get_dummies(data_test.Age)

In [32]:
data_test=pd.concat([data_test,data_test_age],axis=1)

In [33]:
cols=["City_Category","Stay_In_Current_City_Years"]
data_test=pd.get_dummies(data_test,columns=cols,prefix=cols)

In [34]:
data_test.drop("Age",axis="columns",inplace=True)

In [35]:
data_test['Product_ID']=la.fit_transform(data_test['Product_ID'])

In [36]:
submission=model.predict(data_test)

In [37]:
df1=pd.read_csv('test.csv')

In [38]:
df1=df1[['User_ID','Product_ID']]

In [39]:
df1.head()

   User_ID Product_ID
0  1000004  P00128942
1  1000009  P00113442
2  1000010  P00288442
3  1000010  P00145342
4  1000011  P00053842

In [40]:
df1['Purchase']=submission

In [41]:
df1.head()

   User_ID Product_ID      Purchase
0  1000004  P00128942   9913.043739
1  1000009  P00113442  10821.154054
2  1000010  P00288442   4365.329358
3  1000010  P00145342   2532.266452
4  1000011  P00053842   2770.344667

In [42]:
df1=df1[['Purchase','User_ID','Product_ID']]

In [43]:
df1.head()

       Purchase  User_ID Product_ID
0   9913.043739  1000004  P00128942
1  10821.154054  1000009  P00113442
2   4365.329358  1000010  P00288442
3   2532.266452  1000010  P00145342
4   2770.344667  1000011  P00053842

In [44]:
df1.to_csv('submission1.csv',index = False)